@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: roboto, sans-serif;
  font-weight: 400;
  background-image: url(/imagenes/nubes.gif);
  background-repeat: no-repeat;
  background-size: cover; }

a {
  color: black;
  text-decoration: none; }

ul {
  list-style-position: inside; }

ol {
  list-style-position: inside; }

#start a img {
  width: 100%;
  max-height: 100vh; }

.bgColor {
  background: white; }

#header {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px solid black; }

#header .logo img {
  width: 100px;
  transition: all 500ms ease-in-out;
  padding: 10px 0; }

#header img {
  vertical-align: middle; }

#header li {
  display: inline-block;
  padding: 10px 35px;
  transition: all 500ms ease-in-out; }

#header li:hover {
  transform: scale(1.5); }

#header li a:hover {
  transform: scale(1.5);
  text-decoration: none;
  color: black; }

#header ul {
  margin-bottom: 0; }

#header .logo img:hover {
  transform: scale(1.5); }

.padreFire {
  width: 80%;
  margin: auto;
  margin-top: 20px; }

.onFire {
  height: 780px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-image: url(imagenes/resident.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1em;
  border: groove grey; }

.descrip {
  width: 80%;
  color: white;
  font-size: 18px;
  padding: 10px;
  font-style: italic; }

#lanzamientos .contenido {
  width: 40%;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 15px; }

#lanzamientos .contenido img {
  width: 100%;
  border-radius: 1em;
  border: groove grey; }

#lanzamientos h2 {
  text-align: center;
  color: white; }

#footerBackground {
  border-top: 5px solid black; }

#footerBackground ul {
  list-style: none;
  display: flex;
  justify-content: center; }

#footerBackground ul li {
  padding: 20px 35px;
  transition: all 500ms ease-in-out; }

#footerBackground li:hover {
  transform: scale(1.5); }

#footerBackground li a:hover {
  transform: scale(1.5);
  text-decoration: none;
  color: black; }

#noticias {
  padding: 10px;
  display: flex;
  flex-direction: row; }

#noticias p {
  padding: 10px 0; }

#notiBorder {
  border: groove grey;
  border-radius: 1em;
  background-color: white;
  padding: 10px;
  margin: 10px; }

.notiImg {
  background-image: url(imagenes/ps5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 300px;
  border-radius: 1em; }

#noticias h2 {
  margin-left: 10px; }

#imgMayor div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  width: 1000px;
  margin: auto;
  background-color: white; }
  #imgMayor div h2 {
    padding-bottom: 10px; }
  #imgMayor div p {
    text-align: center;
    width: 800px;
    padding: 20px; }

.alLado {
  display: flex;
  flex-direction: row; }

#sepCon {
  width: 80%;
  margin: auto; }

#sepCon .form1 {
  display: flex;
  flex-direction: column;
  align-items: center; }

#sepCon li {
  list-style-type: none; }

.form1 li {
  padding: 20px 0; }

.form1 input {
  padding: 15px;
  border-radius: 2em;
  border: groove grey 0.5em;
  outline: none; }

.form1 textarea {
  padding: 15px;
  border-radius: 2em;
  border: groove grey 0.5em;
  outline: none; }

.form2 li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }

.form2 div {
  text-align: center;
  font-size: 18px;
  text-decoration: underline; }

.finForm li {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.finForm input {
  padding: 15px;
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 2em;
  border: groove grey 0.5em; }

#gridCont {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.gente {
  padding: 10px; }

.gente ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style-type: none; }

.gente li {
  border: groove grey;
  border-radius: 1em;
  padding: 10px;
  font-size: 20px;
  color: #6100fd; }

.gente p {
  padding: 5px;
  font-size: 15px;
  color: black; }

#opiCon li {
  list-style-type: none; }

.usForm1 li {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.usForm1 input {
  padding: 15px;
  border-radius: 1em;
  outline: none;
  border: groove grey; }

.usForm1 textarea {
  padding: 15px;
  border-radius: 1em;
  outline: none;
  border: groove grey; }

.usFormFin li {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.usFormFin input {
  padding: 15px;
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 1em;
  border: groove grey; }

.fondoLetras {
  background: white; }

/* media */
@media (max-width: 750px) {
  .descrip {
    color: white;
    background-color: black;
    border-radius: 1em;
    opacity: 50%;
    font-size: 12px;
    padding: 10px;
    font-style: italic;
    width: 60%; }
  .onFire {
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-image: url(imagenes/resident.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right; }
  #noticias {
    padding: 15px;
    display: flex;
    flex-direction: column; }
  #noticias p {
    padding: 10px;
    font-size: 14px; }
  #gridCont {
    display: grid;
    grid-template-columns: 1fr; }
  .gente ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    list-style-type: none; }
  #lanzamientos h2 {
    text-align: center;
    font-size: 14px; }
  #lanzamientos .contenido {
    width: 60%; }
  #header .logo {
    margin-left: 5px; }
  #header {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid black; }
  #header li {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #footerBackground ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 400px) {
  .notiImg {
    width: 250px; } }
